* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  overflow: hidden;
  position: absolute;
}

/******************** 1256px **********************/

@media (max-width: 1256px) {

  header ul {
    margin: 10px auto;
  } 

  .content-wrapper {
    width: 100%;
    height: 400px;
    display: block;
  }

  header {
    padding: 0 20px;
  }

  header ul li {
    margin-right: 15px;
  }

  header ul li a {
    font-size: 15px;
  }

  /* Showcase */

  .text-wrapper {
    display: none;
}

.content-wrapper {
    display: block;
    
}

.content-wrapper img {
    width: 100%;
}

.content-wrapper h1 {
    display: none;
}

/* Search Bar */

.search .icon {
    top: 30px;
    font-size: 25px;
    
}

.search .row .option select {
    font-size: 19px;
     
}

.search .row .option input[type="submit"] {
    font-size: 20px;
}
 
 /* Property showcase */
 .img1 {
    min-height: 300px;
}

.img2 {
    min-height: 300px;
}

.img1,
.img2 {
    background-attachment: scroll;
}

.text {
    display: none;
}

.section {
    text-align: center;
    padding: 30px 40px;
    height: 250px;
}

.section-dark h1 {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

.main-cont {
    padding: 25px 5px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
}

/* Footer */

/* FOOTER */

.footer {
    background: #F2F2F2;
    display: grid;
    grid-template-columns: 30% 70%;
}

.left-side {
    margin-top: 40px;
    margin-left: 35px;
    font-size: 25px;
}

.right-side {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.right-side p {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    text-align: right;
    padding-right: 25px;
}

/* .footer {
    display: block;
    background: transparent;
    margin-top: 70px;
    height: 400px;
}

.right-side {
    display: block;
    text-align: center;
    margin-left: 15px;
}

.right-side p {
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.left-side {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
} */

.fa-facebook-f,
.fa-twitter-square,
.fa-linkedin-square,
.fa-google-plus-square {
    text-align: center;
    margin-left: 10px;
}

#copyright {
    bottom: 0;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    position: fixed;
    margin-top: 50px;
}

.text-wrapper {
    display: none;
}

/* HOUSE CARDS */

/* Row One */

.houses-row-one {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    margin: 30px 0 auto;
    width: 100%;
    justify-content: space-evenly;
}

/* Row Two */

.houses-row-two {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
}


/* Staff Cards */

.member-card img {
    width: 100%;
    filter: grayscale(0);
}

.member-card {
    margin-bottom: 10px;
}

.member-card img:hover {
    transform: scale(1);
}

.member-card:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.page-title h2 {
    font-size: 30px;
}

.page-title-team h2 {
    font-size: 30px;
}


}


/******************** 920px *******************/

@media (max-width: 920px) {

    .toggle {
        display: block;
        margin-top: 10px;
    }

    header {
        height: 173px;
        padding: 0;
        background: #131f28;
    }
    header ul {
        width: 100%;
        top: -2px;
        display: none;
    }
    header ul.active {
        display: block;
        margin-top: 0;
    }
    header ul li a {
        margin: 0;
        display: block;
        text-align: center;
        color: #fff;
        background: rgba(34, 49, 63, .8);
    }

    .search .row .option:before {
        display: none;
    }

    .search .row .option select {
        text-align: center;
        font-size: 20px;
    }

    /* Footer */

.footer {
    display: block;
    background: transparent;
    margin-top: 70px;
    height: 400px;
}

.right-side {
    display: block;
    text-align: center;
    margin-left: 15px;
}

.right-side p {
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.left-side {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

.fa-facebook-f,
.fa-twitter-square,
.fa-linkedin-square,
.fa-google-plus-square {
    text-align: center;
    margin-left: 10px;
}

#copyright {
    bottom: 0;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    position: fixed;
    margin-top: 50px;
}

.text-wrapper {
    display: none;
}
}



/*** 964px ***/
@media (max-width: 964px) {


  .section {
      height: 280px;
  }
}

/*** 859px ***/
@media (max-width: 859px) {
  .section {
      height: 320px;
  }
}

/*** 694px ***/
@media (max-width: 694px) {
  .section {
      height: 370px;
  }
}

/* 600px */
@media (max-width: 600px) {
  .toggle {
      display: block;
      right: 20px;
      top: 65px;
  }

  .section {
      text-align: center;
      padding: 25px 40px;
      height: 380px;
  }

  .search .row .option {
      border-right: 0px solid #ccc;
  }
}

/*** 545px ***/
@media (max-width: 545px) {
  .section {
      height: 430px;
  }
}

/*** 498px ***/
@media (max-width: 498px) {
  .section {
      height: 460px;
  }
}

/*** 470px ***/
@media (max-width: 470px) {
  .section {
      height: 490px;
  }
}

/*** 415px ***/
@media (max-width: 415px) {
  .section {
      height: 550px;
  }

  header {
      position: absolute;
  }

  header img {
      width: 80%;
      margin-top: 15px;
  }

  header ul {
      margin-top: 4px;
  }

  header a.toggle {
      margin-top: 5px;
      margin-right: 10px;

  }
}

/*** 400px ***/
@media (max-width: 400px) {
  .section {
      height: 530px;
  }
}

/*** 377px ***/
@media (max-width: 377px) {
  header {
      position: absolute;
  }

  header ul {
      margin-top: 18px;
  }

  .section {
      height: 600px;
  }
}

/*** 360px ***/
@media (max-width: 360px) {
  header ul {
      margin-top: 22px;
  }
}

/*** 320px ***/
@media (max-width: 320px) {

  .section {
      height: 750px;
  }

  header img {
      margin-top: 30px;
  }

  header ul {
      margin-top: 22px;
  }

  header a.toggle {
      margin-top: 10px;
      margin-right: 5px;
  }
}