* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    }

    /* .navigation {
        background-color: #22313F;
        width: 80%;
        height: 180px;
        margin: 0 auto;
    }

    #logo {
        color: white;
    }

    h3 {
        font-size: 30px;
       
    }

    #navbar {
      font-family: 'Nunito', sans-serif;
      font-size: 30px;
      font-weight: 900;
      color: white;
      display: inline; 
    }

    ul, li {
        display: inline;
        margin-left: 20px;
    }

    a {
        color: grey;

    }

    a:hover {
        color: black;
    } */

#navbar {
    width: 100%;
    height: 175px;
    /* background: #22313F; */
    /* background-size: cover; */
}

#navbar ul a {
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

    #logo-menu ul {
        width: 100%;
        height: 174px;
        background: #22313F;
        line-height: 100px;
        padding: 30px;  
    }



    #logo-menu ul li {
        float: right;
        margin-top: 5px;  
    
       
    }

    #logo-menu ul li:hover {
        background: #384552;
        transition:all 0.50s;
    }